:root{
  --primary-color : #14425d;
  --primary-pale-color: #2f566d;
  --white : #fff;
  --text-color : #333;
  --background-color: #e6e6e6;
  --nav-color : #d63031;
  --american-river: #636e72;
  --electric-blue: #0984e3;
  --select-color: #f4f4f4;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto',  sans-serif;
}
*{
  box-sizing: inherit;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
button{
  border: none;
  outline: none;
}
h1,h2{
  margin: 0;
}

header{
  margin: 0 !important;
}
.gird{
  width: 1200px;
  max-width: 100%;
}
.grid-row{
  width: 100%;
  display: flex;
}
/* >=1200 px */
@media only screen and (min-width:1200px) {
  .grid-col-1 {width: 8.33%;}
  .grid-col-2 {width: 16.66%;}
  .grid-col-3 {width: 25%;}
  .grid-col-4 {width: 33.33%;}
  .grid-col-5 {width: 41.66%;}
  .grid-col-6 {width: 50%;}
  .grid-col-7 {width: 58.33%;}
  .grid-col-8 {width: 66.66%;}
  .grid-col-9 {width: 75%;}
  .grid-col-10 {width: 83.33%;}
  .grid-col-11 {width: 91.66%;}
  .grid-col-12 {width: 100%;}

  .grid-col-2-10{
    width: 20%;
    padding-left: 12px;
    padding-right: 12px;
  }
}

/* large screen >=992px*/
@media only screen and (min-width : 992px){
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
}

/* medium screen >= 768px */
@media only screen and (min-width : 768px){
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}


/* <576px */
@media only screen and (max-width : 576px){
  .col-es-1 {width: 8.33%;}
  .col-es-2 {width: 16.66%;}
  .col-es-3 {width: 25%;}
  .col-es-4 {width: 33.33%;}
  .col-es-5 {width: 41.66%;}
  .col-es-6 {width: 50%;}
  .col-es-7 {width: 58.33%;}
  .col-es-8 {width: 66.66%;}
  .col-es-9 {width: 75%;}
  .col-es-10 {width: 83.33%;}
  .col-es-11 {width: 91.66%;}
  .col-es-12 {width: 100%;}
  .grid-col-2-10{
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
}
