.app-book > header{
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}
nav {
  background-color: var(--nav-color);
  display: flex;
  padding: 0 100px;
  
}
.nav__title{
  margin-right: 37px;
  display: flex;
  align-items: center;
}
.nav__title h1{
  color: #fff;
}
.nav__title a{
  font-size: 3rem;
}
.nav__title i + span{
  margin-left: 10px;
}
.nav-list{
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav-list-item{
  margin-right: 32px ;
  position: relative;
}
.nav-list-item:hover{
  background-color: var(--electric-blue);
}
.nav-list-item button,a{
  color: var(--white);
  font-size: 1.7rem;
}
.nav-list-item > a{
  display: inline-block;
  padding: 15px 10px;
}
.nav-list-item-book .dropdown-content::before{
  content: "";
  position: absolute;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid var(--primary-pale-color);
  top : -20px;
  left: 30px;
}
.nav-list-item-book .dropdown-content::after{
  content: "";
  position: absolute;
  background-color: red;
  width: 90px;
  height: 20px;
  top: -20px;
  background-color: transparent;
}
.nav-list-item-category .dropdown-content::before{
  content: "";
  position: absolute;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid var(--primary-pale-color);
  top : -20px;
  left: 30px;
}
.nav-list-item-category .dropdown-content::after{
  content: "";
  position: absolute;
  width: 120px;
  height: 20px;
  top: -20px;
  background-color: transparent;
}
.nav-list-item-configuration .dropdown-content::before{
  content: "";
  position: absolute;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid var(--primary-pale-color);
  top : -20px;
  left: 30px;
}
.nav-list-item-configuration .dropdown-content::after{
  content: "";
  position: absolute;
  width: 125px;
  height: 20px;
  top: -20px;
  left: 0;
  background-color: transparent;
}
.dropdown-btn{
  background-color: transparent;
}
.dropdown:hover .dropdown-content{
  display: flex;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #2f566d;
  width: fit-content;
  top: 60px;
  border-radius: 5px;
}
.dropdown-content li{
  display: block;
} 
.dropdown-content a{
  display: inline-block;
  padding: 5px 10px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}
.dropdown-content a:hover{
  background-color: #14425d;

}
.dropdown-content--large-width{
  width: 500px;
}
.dropdown-content--medium-width{
  width: 200px;
}
.dropdown-menu{
  width: 100%;
}
.nav-configuration{
  justify-content: space-around;
  align-items: center;
  padding: 5px 20px;
}
.nav-configuration__background-label{
  font-size: 1.6rem;
  width: 100px;
  color: var(--white);
  display: inline-block;
}
.nav-configuration__background-select{
  width: 300px;
  height: 30px;
  font-size: 1.6rem;
}
.nav-search{
  display: flex;
  align-self: center;
  margin-left: auto;
  align-items: center;
  background-color: white;
  border-radius: 3px;
}
.nav-search input{
  border: none;
  outline: none;
  height: 30px;
  width: 200px;
  font-size: 20px;
  transition: width .3s linear;

}
.nav-search input:focus{
  width: 170%;
}
.nav-search__btn{
  padding: 5px;
  background-color: transparent;
  border: none;
  outline: none;
}
.nav-search__btn:hover{
  background-color: rgba(0, 0, 0, 0.3);
}
.nav-search i{
  font-size: 2rem;
}
.header__description{
  background-color: #ececec;
  display: flex;
  align-items: center;
  padding: 0 100px;

}
.header__description p{
  font-size: 1.5rem;
  margin: 10px 0;
}
.container-book{
  background: linear-gradient(to bottom,#cdcdcd,#f4f4f4);
  padding: 15px 0;
}
.container-book header{
  justify-content: space-between;
  margin: 5px 0;
}
.container-book a{
  color: #333;
}
.container-book-home-ad{
  justify-content: center;
  position: relative;
  height: 300px;
  margin-bottom: 15px;
}
.container-book-home-ad__slideshow{
  position: relative;
  overflow: hidden;
}
.container-book-home__slides{
  display: flex;
  transition: all .7s linear;
}
.container-book-home__slides img{
  object-fit: contain;
  width: 100%;
  height: auto;
}
.slideshow-btn{
  position: absolute;
  background-color: transparent;
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 5px 5px;
}
.slideshow-btn i{
  font-size: 3rem;
}
.slideshow-btn:hover{
  background-color: rgba(0, 0, 0, 0.3);
}
.slideshow-btn--next{
  top: 150px;
  right: 0;
}
.slideshow-btn--previous{
  top: 150px;
  left: 0;
}
.slideshow-pagination{
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translateX(-50%);
}
.slideshow-pagination__item{
  font-size: 1.6rem;
  background-color: transparent;
}
.slideshow-pagination__item:not(.slideshow-pagination__item--active):hover i{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.slideshow-pagination__item--active i{
  background:black;
  border-radius: 50%;
}
.container-book-header__nav{
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.container-book-header__nav a{
  font-size: 2rem;
}
.container-book-header__nav .header-nav__title{
  border-bottom: 2px solid #4e4e4e;
}
.container-book-header__nav .select-category{
  font-size: 2rem;
  padding: 5px;
  background-color: #d2d2d2;
  color: #4e4e4e;
  border: none;
  outline: none;
}
.book-product-container{
  margin-top: 20px;
  display: flex;
}
.book-product-items{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.book-product-item{
  margin-top: 12px;
  position: relative;
  transition: transform 0.3s linear;
  box-shadow: 0 0 5px var(--text-color);
}
.book-product-item:hover{
  transform: scale(1.06);
}
.product-item__img{
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: var(--text-color);
}
.product-item__name{
  position: absolute;
  font-size: 1.3rem;
  display: inline-block;
  padding: 5px;
  text-align: center;
  bottom: 0;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.product-item__favorite{
  font-size: 1.6rem;
  color: var(--nav-color);
  background-color: currentColor;
  position: absolute;
  top: 10px;
  left: -5px;
  border-radius: 0 5px 5px 0;
  padding: 0px 5px 0px 5px;
}
.product-item__favorite span{
  color: #fff;  
  line-height: 1.6rem;
}
.product-item__favorite i{
  color: #fff;
  margin-right: 4px;
}
.product-item__favorite::before{
  content: "";
  border-right: 4px solid currentColor;
  border-bottom: 4px solid transparent;
  position: absolute;
  left: 0px;
  bottom: -4px;
  filter: brightness(0.6);
}
.list-chapter-category{
  display: flex;
  justify-content: center ;
}
.updated-book{
  padding: 5px 12px;
}
.updated-book > header{
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid #ccc;
}
.updated-book__title{
  font-size: 2.6rem;
  font-weight: 400;
  border-bottom: 1px solid black;
}
.updated-book__select{
  font-size: 2.6rem;
  background-color: var(--select-color);
}
.updated-book-row{
  display: flex;
}
.updated-book-row__name{
  font-size: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed var(--text-color);
  border-right: 1px dashed var(--text-color);
}
.updated-book-row__name > h3,i{
  font-size: 1.6rem;
  font-weight: 300;
}
.updated-book-row__category{
  font-size: 1.6rem;
  padding-left: 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed var(--text-color);
  border-right: 1px dashed var(--text-color);
}
.updated-book-row__chapter{
  font-size: 1.6rem;
  padding-left: 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed var(--text-color);
  border-right: 1px dashed var(--text-color);
  color: #2f566d;
}
.updated-book-row__chapter > a{
  color: var(--electric-blue);
}
.updated-book-row__time{
  font-size: 1.5rem;
  padding-left: 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed var(--text-color);
}
.book-sidenav{
}
.reading-book{
  background-color: #ecf0f1;
  padding: 5px 5px;
  border-radius: 5px;
}
.reading-book__title{
  font-size: 2rem;
  border-bottom: 1px solid #4e4e4e;
  margin: 0;
}
.reading-book-row{
  display: flex;
}
.reading-book-row__title{
  
  font-size: 1.6rem;
  border-right: 1px dashed rgba(0, 0, 0, 0.3);
  padding-right: 5px;
  display: flex; align-items: center;
}
.reading-book-row__title > p{
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.reading-book-row__title a{
  color: red;
}
.reading-book-row__resume {
  text-align: center;
}
.reading-book-row__resume > a{
  color: var(--electric-blue);
}
.book-categories{
  background-color: #ecf0f1;
  margin-top: 10px;
  padding: 5px 5px;
  border-radius: 5px;
}
.book-categories__title{
  font-size: 2rem;
}
.book-categories__list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.book-categories__item{
  text-align: center;
}
.book-categories__item a{
  display: block;
  padding: 5px 0px;
}
.book-categories__item a:hover{
  color: var(--american-river);
  text-decoration: underline;
}
.book-footer{
  display: flex;
  justify-content: center;
  background-color: #ccc;
}
.book-footer-description{

  font-size: 2rem;
}
.book-footer-contact{
  display: flex;
  align-self: center;
  justify-content: center;
}
.book-footer-contact li{
  height: fit-content;
  background-color: #cdcdcd;
  border: 1px solid black;
  padding: 0 5px;
  transition: all .5s linear;
}
.book-footer-contact li:hover{
  border-color: red;
}
.book-footer-contact li:hover a{
  color: red;
}
.book-footer-contact li + li{
  margin-left: 10px;
}
.book-footer-contact a{
  display: inline-block;
  padding: 10px 0;
  transition: all .5s linear;
}
.book-footer-contact a > p{
  margin: 0;
}
/* @media only screen and (max-width: 478px){
  .grid-col-5-10{
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
} */